<h2>
    Cadastro de Categorias
</h2>

<h3>
    Categorias Cadastradas
</h3>
<div>
    <ul id="categorias-cadastradas">

    </ul>
</div>


<h3>
    Nova categoria
</h3>
<div>
    <div class="row">
        <div class="col-md-6">
            <form id="nova-categoria" method="POST" action="/backoffice/login" >
                <div class="form-group">
                    <label for="categoria">Nome</label>
                    <input type="text" name="categoria" class="form-control" id="categoria" placeholder="Nome da categoria">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const $categorias = $('#categorias-cadastradas');
    const $novaCategoria = $('#nova-categoria');

    function atualizarCategoriasCadastradas() {
         $.get('/api/category')
        .done(categorias => {
            $categorias.html('');

            for (let categoria of categorias) {
                $categorias.append(`<li>${categoria.name}</li>`);
            }
        });
    }

    $novaCategoria.on('submit', (e) => {
        e.preventDefault();

        const nome = $novaCategoria.find('#categoria').val();

        $.post('/api/category', { name: nome })
        .done(() => {
            $novaCategoria.find('#categoria').val('');
            atualizarCategoriasCadastradas();
        })
        .fail(err => {
            alert('Erro ao cadastrar categoria');
        });
    });

    $(atualizarCategoriasCadastradas)
</script>