<div class="container">
    <div class="jumbotron">
        <h1>Backoffice</h1>
        <p class="lead">Este espaço destina-se ao cadastro de palavras de configurações do jogo.</p>
        <p>Use o menu de navegação acima para navegar pelo site.</p>
        {{!-- <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Categorias</a>
            <a class="btn btn-lg btn-primary" href="#" role="button">Palavras</a>
            <a class="btn btn-lg btn-primary" href="#" role="button">Parâmetros</a>
        </p> --}}
    </div>
</div>