<div>
    <a href="/backoffice/category">Cadastrar categorias</a>
</div>
<div>
    <a href="/backoffice/word">Cadastrar palavras</a>
</div>
<div>
    <a href="/backoffice/game-paramaters">Parâmetros do jogo</a>
</div>