<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <base href="/">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/backoffice/public/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="/backoffice/public/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Stop Online BackOffice</h1>
        {{{ body }}}
    </div>
</body>
</html>