body {
    padding-top: 60px;
}


.st-loading {
    background-image: url('/backoffice/public/loading.svg');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 80px;
    margin: 1rem 0;
}

.st-btn-removable {
    margin: 0.25em;
}

.st-btn-letter {
    margin: 0.25em;
}

