body{
    background-color: #b7d2ff;
}

.header{
    background: url("../img/main-top.png");
    height: 65px;
}

.content{
    background: url("../img/main-bg.png") repeat;
    padding: 5%;
}

.footer{
    background: url("../img/main-footer.png");
    height: 67px;
}

.title {
    font-family: 'Pacifico';
    font-size: 3em;
    color: #3280ff;
}

h3.styled {
    font-family: 'Pacifico';   
}

.card {
    margin: 30px;
    text-align: left;
}

.stop-btn-ban-user {
    width: 24px;
    float: right;
    cursor: pointer;
}

.stop-btn-power {
    width: 160px;
    cursor: pointer;
}

.stop-player-card {
    background-color: #e8e8e8;
}