body{
    background-color: #b7d2ff;
}

.header{
    background: url("../img/main-top.png");
    height: 65px;
}

.content{
    background: url("../img/main-bg.png") repeat;
    padding: 5%;
    min-height: 79vh;
}

.footer{
    background: url("../img/main-footer.png");
    height: 67px;
}

.title {
    font-family: 'Pacifico';
    font-size: 3em;
    color: #3280ff;
}

h3.styled {
    font-family: 'Pacifico';   
}

.card {
    margin: 30px;
    text-align: left;
}

.stop-btn-ban-user {
    width: 24px;
    float: right;
    cursor: pointer;
}

.stop-btn-power {
    width: 160px;
    cursor: pointer;
}

.stop-player-card {
    background-color: #e8e8e8;
}

.stop-player-card .player-score {
    float: right;
    font-weight: 500;
}


.confusion-applied {
    animation-name: confusion-frames;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:  linear;
    animation-fill-mode: backwards;
}

.player-is-frozen {
    background-image: url('/public/img/ice_background.jpg');
    background-clip: unset;
}

@keyframes confusion-frames {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}